/* Adicione este CSS ao seu arquivo de estilos */
.order-table-container {
    margin: 20px;
  }
  
  .order-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-table th, .order-table td {
    border: 2px solid #0B928C;
    padding: 12px;
    text-align: left;
  }
  
  .order-table th {
    background-color: #193946;
    color: white;
  }
  
 /* Adicione este CSS ao seu arquivo de estilos */
 .delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #193946;
    border: 2px solid #193946;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 30px;
    height: 30px;
  }
  
  .delete-button:hover {
    background-color: #F2A33B;
    color: white;
  }
  
  
  .delete-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }